




 
/* 设置导航栏的链接样式 */
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
 
/* 在悬停时更改链接的颜色 */
.topnav a:hover {
    background-color: #06a7e2;
    color: black;
}

 
/* 突出显示当前选中的元素 */
.topnav a.active {
    background-color: #2196F3;
    color: #06a7e2;
}
 
/* 设置导航栏的搜索框样式 */
.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
	font-size: 17px;
	position: relative;
	right:150px;
	color: #06a7e2;
	
}
 
/* 当屏幕宽度小于 600px 时，垂直堆叠显示菜单选项和搜索框 */
@media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .topnav input[type=text] {
        border: 1px solid #06a7e2;
    }
}

#time{
	position: relative;
	float:right;
	font-size: 20px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;;
}

html,body{
	height: 100%;
	width: 100%;
	
}

#page_wrapper{
	
	
	

}

#go,#back{
	border: none;
	position: relative;
	float: left;
}

.button{
	background-color:#06a7e2;/*按钮颜色 */
	border: none;
	border-radius: 2px;/* 边框弧度*/
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    font-family: 'microsoft yahei';
    margin-top: 20px;


}


#masthead{/*页眉*/
	
	font-family: 'Times New Roman', Times, serif;
	font-size: 40pt;
	text-align: center;
	bottom: 50px;
	
	

	
	border: none;
	


    
    
}
a{
	text-decoration: none;
}

#h{
	position: relative;
	top: 50px;

}

#left_col{
	width:5%;
	
	font-size: 14pt;
	font-weight: 400;
	font-family: tahoma, arial, "Hiragino Sans GB", 宋体, sans-serif;


	position: relative;
	



	

	

	
	

	
	text-align:center;
	

    border:0px   ;
    border-radius:0px;
   
	line-height: 50px;
	position: relative;
	float:left;
	color: #3C3C3C;
	
	
}
#register{
	width: 50pt;
	height: 30pt;
	float: right;
}
#land{
	width: 50pt;
	height: 30pt;
	float: right;
}










#page_content{
	width:94.3%;
	height:142%;
	font-size: 40pt;
	
	

    border-radius:0px;
    
	line-height: 200px;
	position: relative;
	float:right;
	border: none;
	

	

}

#button_investigate{
	position: fixed;
	width:88px;
	height: 50px;
	left:0px;/* 固定在挨着浏览器的位置 */
	
	background-color: #06a7e2;
	border: none;
	bottom:200px;
	


}



#register_button{
	position: relative;
	right:900px;
	bottom:80px;
}
#register{
	position: relative;
	left:20px;		
}

#where{
	position: relative;
	float:left;
	
	bottom: 60px;
	z-index: 1;
	


}

.things{
	height: 180px;
	width: 180px;
	





}


.text{
	
	font-size: 15px;
	position: relative;
	top:0px;
	width: 180px;
	
	height:100px;
	

	line-height: 80px;   
    text-align: center; 


}

.one{
	
	height:290px;
	position: relative;
	float: left;
	padding: 24px;

	


}
